{% extends 'base.html'%}
{% load static %}


{% block content %}
<div class="jumbotron">
    <h1>Origem da Ideia</h1>
    <br>
    <p class="article-content">
    Observando a dinâmica de catadores de lixo no município de Amontada,
    foi possível relata suas péssimas condições de trabalho, semelhantes ao da imagem. Mas ao que está relacionado
    essa problemática e quais soluções nós do SER Solidário buscamos?
    </p>
</div>
<div class="row">
    <div class="col-xs-6 col-lg-4">
        <h2>Objetivo 1</h2>
        <p class="article-content">
            Incentivar ações humanitárias e doações em prol dos catadores de material
            reciclável, com foco na melhoria das condições de trabalho, inclusão social e
            qualidade de vida desses trabalhadores
        </p>
    </div>
    <div class="col-xs-6 col-lg-4">
        <h2>Objetivo 2</h2>
        <p class="article-content">
            Criar um aplicativo que incentive à coleta seletiva como ferramentas de apoio aos
            catadores, explorando sua utilidade na identificação de locais de descarte de
            materiais recicláveis e na mobilização de doações e solidariedade da comunidade,
            facilitando a vida dos catadores
        </p>
    </div>
    <div class="col-xs-6 col-lg-4">
        <h2>Objetivo 3</h2>
        <p class="article-content">
            Propor diretrizes e recomendações políticas para melhorar a integração dos
            catadores de material reciclável nas cadeias de reciclagem, promovendo sua
            valorização como agentes fundamentais para a sustentabilidade ambiental e a
            justiça social
        </p>
    </div>
</div>

<br>
<br>
<br>

<div class="container">
    <h1 class="text-center">Integrantes do Projeto</h1>
</div>
<br>
<br>   
<div class="container marketing">
    <div class="row">
            <div class="media">
                <img class="rounded-circle account-img" src="{% static 'blog/participantes/Vanessa2.png' %}">
                <div class="media-body">
                <h2 class="account-heading">Vanessa</h2>
                <p class="article-content">O projeto científico S2BIO diz muito a respeito da solidariedade e da sensibilidade que
                    devemos ter, como seres humanos para com o meio ambiente. Fui convidada a participar
                    do projeto, e fiquei muito entusiasmada com a proposta, pois, o projeto aborda um tema
                    que é muito atual em nossa sociedade, e que ao mesmo tempo não é de agora que ocorre.
                    O descarte indevido de materiais recicláveis e tanto a ausência de um lugar propriamente
                    seguro e eficiente para seu destino, são temas que não recebem a atenção devidamente
                    merecida. Os trabalhadores que trabalham na coleta e podem até tirar o seu sustento da
                    reciclagem são também um tema e pessoas negligenciadas por uma parcela dos civis e
                    demais entidades governamentais. Por essa razão, afirmo que esse projeto é de imensa
                    importância e utilidade</p>
                </div>
            </div>
            <div class="media">
              <img class="rounded-circle account-img" src="{% static 'blog/participantes/Fernanda2.png' %}">
              <div class="media-body">
                <h2 class="account-heading">Fernanda</h2>
                <p class="article-content">Olá, me chamo Fernanda e fui convidada a participar desse projeto que trás uma temática
                    bastante interessante de ser abordada. Problemas com a preocupação dos impactos causados
                    pelo descarte incorreto de lixo domésticos tem se tornado bastante comentado nos dias atuais,
                    projetos como esses, são de grande importância para os adolescentes se conscientizarem que
                    mudanças de hábitos que estão enraizados na nossa cultura podem interferir de maneira
                    positiva no problema ambiental. Por isso me interessei quando soube que esse projeto tinha
                    essa proposta, conscientizar a sociedade por meio de palestras, site, revistas e ferramentas
                    tecnológicas podem interferir nessas ações.</p>
              </div>
            </div>

            <br>

            <div class="media">
                <img class="rounded-circle account-img" src="{% static 'blog/participantes/Eliezer2.png' %}">
                <div class="media-body">
                  <h2 class="account-heading">Eliezer</h2>
                  <p class="article-content">A ideia do projeto S2BIO surgiu durante o momento de pandemia onde ficou claro que
                    muitas pessoas estavam passando por dificuldades financeiras. O Presente estudo se
                    preocupa com dois temas centrais na nossa sociedade atual, que é a sustentabilidade e a
                    solidariedade com o próximo. Desejamos por meio dessa iniciativa sensibilizar e
                    mostrar para a comunidade local a relevância da questão ambiental sem esquecer da
                    parte social. Para facilitar o nosso trabalho criamos ferramentas tecnológicas que irão
                    nos ajudar nessa missão árdua, porém muito prazerosa.</p>
                </div>
            </div>

            <br>

            <div class="media">
                <img class="rounded-circle account-img" src="{% static 'blog/participantes/henrique.png' %}">
                <div class="media-body">
                  <h2 class="account-heading">Henrique</h2>
                  <p class="article-content">Olá, me chamo Henrique e sou da turma de 1º ano aquicultura, faço parte do projeto
                    S2BIO, quero em poucas palavras explanar a satisfação que é contribuir com uma
                    iniciativa tão nobre como essa. Temos a preocupação de sensibilizar todo a comunidade
                    amontadense para a relevância de cuidar do meio ambiente e de buscar alternativas para
                    ajudar os menos favorecidos</p>
                </div>
            </div>

            <br>

            <div class="media">
                <img class="rounded-circle account-img" src="{% static 'blog/participantes/Evillin2.png' %}">
                <div class="media-body">
                  <h2 class="account-heading">Evillin Lavínia</h2>
                  <p class="article-content">Oi, me chamo Evellin e sou aluna do curso do 1º ano aquicultura e vou compartilhar minha visão sobre o projeto S2BIO. Nosso foco principal consiste em melhorar a destinação do lixo da nossa cidade, que infelizmente não conta com aterro sanitário e nem com coleta seletiva. Para isso estamos empenhados em construir uma plataforma digital voltada para essa finalidade. Quero destacar outras ações do nosso projeto que visam incentivar a sustentabilidade e também a solidariedade, como por exemplo: A realização de palestras, a elaboração de um aplicativo e de uma revista voltada para o público infantil. Buscamos ainda sensibilizar a população local da importância de ajudar o próximo a partir de ações humanitárias, como por exemplo doações. Estou muito feliz e encantada em fazer parte do projeto S2BIO..</p>
                </div>
            </div>




    </div>

 
</div>

{% endblock %}


